################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ScreenSound/.vs/ScreenSound/FileContentIndex/a2329423-4125-4a8d-9b46-25a6bdfba53b.vsidx
